@model CreditoCarteraAdmin_AbInBev.Models.MensajeNotificacion

@{
    ViewData["Title"] = "Create";
}

<h2 class="text-white-50">Crear</h2>

<h4 class="text-white">Mensaje de notificación</h4>
<hr />
<div class="container position-relative text-white-50">
    <div class="col">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <select id="select1" asp-for="Tipo" class="form-control">
                    <option selected disabled>Tipo de Mensaje</option>
                    <option>CobroCartera</option>
                    <option>CreditoNuevo</option>
                </select>
                @*<input asp-for="Tipo" class="form-control" />*@
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mensaje" class="control-label"></label>
                <input asp-for="Mensaje" class="form-control" />
                <span asp-validation-for="Mensaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiasPrevios" class="control-label"></label>
                <input asp-for="DiasPrevios" class="form-control" />
                <span asp-validation-for="DiasPrevios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
